<form action="">

  <label for="pokeinput">Name or Number</label>
  <br>
  <input id="pokeinput" type="text"
  required minlength="1" 
  placeholder=" EX: Pikachu or 25">

  <br>
  <input 
  class="button"
  type="submit" value="BUSCAR">

</form>