<!DOCTYPE html>
<html lang="pt-BR">

  <%- include('../partials/head'); %>

<body>

  <main>

    <!-- lopgo -->
    <img title="Pokemon"
    src="assets/pokemon-logo.png" 
    class="logo"
    alt="Pokemon logo">

    <!--  Elemento principal de interacao -->
    <div class="conter">

      <!--  Formulario -->
      <form action="">

        <label for="pokeinput">Name or Number</label>
        <br>
        <input id="pokeinput" type="text"
        required minlength="1" 
        placeholder=" EX: Pikachu or 25">

        <br>
        <input 
        class="button"
        type="submit" value="BUSCAR">

      </form>
      
      <!--  Sub Div, div de retorno -->
      <div class="date">

        <!--  Imagen dos pokemons -->
        <div id="pokeimg">
          <!-- <img src=" Imagem do Pokemon "> -->
        </div>

        <!--  Dados do Pokemon -->
        <div id="pokeinformation">
          <p>[...]</p>
        </div>

      </div>

    </div>

  </main>

  <script src="/js/script.js"></script>
</body>
</html>